@use '../../../style/variables.scss' as v;
@use '../../../style/mixins.scss' as m;
@use '../../../style/functions.scss' as f;

.teaRange {
  padding-block: f.rem(30);
}

.container {
  position: relative;
  overflow: hidden;
}

.img {
  height: f.rem(371);
  width: f.rem(460);
  position: absolute;
  top: f.rem(154);
  right: f.rem(-75);
  z-index: 1;
  background: url('../../../images/TeaCatalog/green-tea.png')center bottom/80% 80% no-repeat;

  @media screen and (max-width:1226px) {
    top: f.rem(-70);
  }

  @include m.tablet {
    width: 100%;
    height: f.rem(552);
    position: relative;
    top: initial;
    right: initial;
    background: url('../../../images/TeaCatalog/green-tea.png')right bottom/contain no-repeat;
    margin-bottom: f.rem(40);
  }

  @media screen and (max-width:560px) {
    height: f.rem(450);
  }

  @include m.phone {
    height: f.rem(252);
    margin-bottom: f.rem(20);
  }
}

.navigation {
  display: flex;
  gap: f.rem(11);
  margin-bottom: f.rem(100);

  @include m.netbook {
    margin-bottom: f.rem(70);
  }

  @include m.tablet {
    gap: f.rem(20);
  }

  @include m.phone {
    gap: f.rem(12);
  }
}

.navigationItem {
  color: v.$white;
  font-size: f.rem(12);
  line-height: f.ratio(12, 14.12);
  position: relative;

  @include m.tablet {
    font-size: f.rem(20);
    line-height: f.ratio(20, 23.54);
  }

  @include m.phone {
    font-size: f.rem(10);
    line-height: f.ratio(10, 11.77);
  }

  a {
    text-decoration: none;
    color: v.$white;
    font-size: f.rem(12);
    line-height: f.ratio(12, 14.12);

    @include m.tablet {
      font-size: f.rem(20);
      line-height: f.ratio(20, 23.54);
    }

    @include m.phone {
      font-size: f.rem(10);
      line-height: f.ratio(10, 11.77);
    }

  }

  &:not(:first-child)::before {
    width: f.rem(3);
    height: f.rem(3);
    position: absolute;
    display: block;
    content: '';
    border-radius: 50%;
    background-color: v.$white;
    top: 50%;
    transform: translateY(-50%);
    left: f.rem(-7);

    @include m.tablet {
      width: f.rem(4);
      height: f.rem(4);
      left: f.rem(-12);
    }

    @include m.phone {
      width: f.rem(2);
      height: f.rem(2);
      left: f.rem(-7);
    }
  }

}

.title {
  max-width: f.rem(597);
  font-weight: 900;
  color: v.$white;
  font-size: f.rem(50);
  line-height: f.ratio(50, 62.4);
  margin-bottom: f.rem(95);
  margin-right: f.rem(350);

  @include m.tablet {
    font-size: f.rem(50);
    line-height: f.ratio(50, 62.4);
    margin: initial;
  }

  @include m.phone {
    font-size: f.rem(25);
    line-height: f.ratio(25, 31.2);
  }
}

.range {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  row-gap: f.rem(20);
  column-gap: f.rem(20);
  place-content: center;

  @include m.tablet {
    grid-template-columns: repeat(auto-fill, 220px);
  }

  @include m.phone {
    grid-template-columns: repeat(auto-fill, 107px);
    row-gap: f.rem(10);
    column-gap: f.rem(10);
  }
}

.item {
  width: f.rem(280);
  height: f.rem(227);
  background: v.$white;
  box-shadow: 0px 0px 21.2553px rgba(149, 149, 149, 0.25);
  border-radius: f.rem(14);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition-property: box-shadow background-color;
  transition-duration: 1s;

  @include m.tablet {
    width: f.rem(220);
    height: f.rem(220);
    flex-direction: column-reverse;
    box-shadow: 0px 0px 61.52px rgba(149, 149, 149, 0.25);
    border-radius: f.rem(10);
  }

  @include m.phone {
    width: f.rem(107);
    height: f.rem(110);
  }

  &:hover {
    box-shadow: inset 0px 0px 15px 1px rgba(134, 134, 134, 0.5);
  }
}

.active {
  background-color: v.$yellow;
  box-shadow: inset 0px 0px 15px 1px rgba(134, 134, 134, 0.5);
}

.itemImg {
  height: 65%;
  max-height: f.rem(141);
  max-width: f.rem(101);

  img {
    width: 100px;
    height: 100%;
    object-fit: contain;

    @include m.phone {
      max-width: initial;
      max-height: 100%;
    }
  }
}

.rangeText {
  font-weight: 700;
  font-size: f.rem(18);
  line-height: f.ratio(18, 21.76);

  @include m.tablet {
    font-size: f.rem(20);
    line-height: f.ratio(20, 24.18);
  }

  @include m.phone {
    font-size: f.rem(12);
    line-height: f.ratio(12, 14.51);
  }
}

.disable {
  opacity: 0;

  @media screen and (max-width:1226px) {
    position: absolute;
    display: none;
  }
}